.button {
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--secondary);

  &:hover {
    border-color: #999;
  }

  &_delete {
    padding: 5px 15px;
  }

  &_add {
    padding: 5px 15px;
    background-color: #fff;
  }
}