@import "../../styles/colors.scss";

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    align-items: start;
    gap: 30px;

    @media (min-width: 630px) {
        grid-template-columns: repeat(2, minmax(280px, 360px));
    }
}