.postForm {
  &__item {
    margin: 10px 0;
  }

  &__input {
    border: 1px solid #ccc;
    padding: 5px 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}