@import "../../styles/colors.scss";

.categoris {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 0;

    font-family: 'PT Serif', serif;
  }
  
  &:not(:last-child) {
      border-bottom: 1px solid var(--sidebar-border);
  }

  &__link:hover {
    color: $logo-bg;
  }
}