.characters {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  &__card {
    width: 100%;
    padding: 50px 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    
    font-size: 3rem;
    text-align: center;
  }
}