@import "../../styles/colors.scss";

.instagram-gallery {

    &__title {
        font-family: 'PT Serif', serif;
        font-size: 2.4rem;
        line-height: 1.35;
        text-align: center;
        margin-bottom: 39px;
    }

    &__link {
        &:hover {
            color: $logo-bg;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, minmax(200px, 320px));
        grid-template-rows: 1fr;
        gap: 20px;
        overflow: hidden;
    }
}