.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    align-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
    
    @media (min-width: 600px) and (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 1440px) {
        row-gap: 70px;
    }
}