* {
  transition: all .2s linear;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &_big-screen {
      max-width: 1760px;
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
  row-gap: 30px;

  padding: 60px 0;
  
  @media (min-width: 1024px) {
      grid-template-columns: 2fr 270px;
  }
}

.fz-2 {
  font-size: 2rem;
}